@use "./layout/variables" as *;
@use "./layout/colors" as *;
@use "./layout/mixins" as *;
@use "./layout/typography" as *;

.benefits {
  background: url("../images/bg4.png"), var(--color-neutral-50);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  padding: 64px 0 48px;

  @media (min-width: $pc) {
    padding-top: 86px;
    padding-bottom: 61px;
  }

  .container {
    position: relative;
    @media (min-width: $pc) {
      &::before {
        content: "";
        background: url("../images/bg-card.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top center;
        width: 479px;
        height: 715.577px;
        position: absolute;
        top: 0;
        left: -350px;
      }
    }
  }

  &__title {
    font-size: 29px;
    margin-bottom: 32px;
    position: relative;
    z-index: 2;
    max-width: 80%;
    letter-spacing: 0.8px;

    @media (min-width: $pc) {
      font-size: 40px;
      letter-spacing: 1.1px;
      margin-bottom: 47px;
    }
  }
}

.benefits-list {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 16px;
  align-self: stretch;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;

  @media (min-width: $pc) {
    gap: 24px;
  }

  &-col {
    display: flex;
    min-width: 288px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    gap: 16px;

    @media (min-width: $pc) {
      gap: 24px;
      flex-direction: row;
      flex-wrap: wrap;

      .benefit {
        height: 276px;
        border-radius: 48px;
        padding: 32px;

        .benefit__text {
          font-size: 14px;
        }

        &:nth-of-type(1) {
          width: 100%;
          justify-content: center;

          .benefit__image {
            content: url("../images/img-4desk.png");
          }
        }

        &:nth-of-type(2) {
          width: calc(50% - 12px);
          justify-content: flex-start;

          .benefit__image {
            content: url("../images/img-3-desk.png");
          }
        }

        &:nth-of-type(3) {
          width: calc(50% - 12px);
          justify-content: flex-start;

          .benefit__image {
            content: url("../images/img-5-desk.png");
          }
        }
      }
    }
  }

  > .benefit {
    &:nth-of-type(1) {
      background: var(--color-amber-a400);
      padding-block: 32px;
      min-height: 376px;
      min-width: 288px;
      flex: 1 0 0;

      @media (min-width: $pc) {
        width: 376px;
        min-height: 576px;
        flex: none;
        border-radius: 48px;
        padding: 32px;

        .benefit__image {
          content: url("../images/img-2-desc.png");
        }
      }

      .benefit__image {
        inset: -74px 0 0;

        img {
          object-position: top center;
          aspect-ratio: 1/1;
        }
      }

      .benefit__title {
        font-size: 29px;
        width: 50%;

        @media (min-width: $pc) {
          font-size: 40px;
          letter-spacing: 1px;
        }
      }

      .benefit__text-holder {
        width: 100%;
        position: relative;
        z-index: 3;
      }

      .benefit__text {
        @media (min-width: $pc) {
          font-size: 14px;
        }
      }
    }
  }
}

.benefit {
  background: $white;
  padding: 32px;
  border-radius: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  	overflow: hidden;

  &:nth-child(4n + 2) {
    background: var(--color-gray-900);
    color: var(--color-gray-50);

    .benefit__image {
      top: 0;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      object-fit: contain;
      object-position: right center;
    }
  }

  &__title {
    font-size: 16px;

    @media (min-width: $pc) {
      font-size: 21px;
    }
  }

  &__text-holder {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 60%;
    position: relative;
    z-index: 2;

    @media (min-width: $pc) {
      gap: 17px;
    }
  }

  a {
    text-decoration: none;
  }
}

.benefit.benefit--item2 {
  background: var(--color-amber-500);

  .benefit__text-holder {
    color: var(--color-gray-900);
  }
}


.benefits-list.benefits-list2 {
	align-items: stretch;
  .benefit {
	background: var(--color-neutral-50);
    .benefit__text-holder {
      width: 100%;
      max-width: 176px;
    }
  }

  @media (min-width: $pc) {
  .benefits-list-col2 {
	.benefit {
		&:nth-of-type(1) {
			.benefit__image {
				content: none;
				img {
					content: url('../images/image-card1-des.png');
				}
			}

			.benefit__text-holder {
				max-width: 300px;
			}
		}

		&:nth-of-type(2) {
			.benefit__image {
				content: none;
				img {
					content: url('../images/image-card2-des.png');
				}
			}
		}

		&:nth-of-type(3) {
			.benefit__image {
				content: none;
				img {
					content: url('../images/image-card3-des.png');
				}
			}
		}
	}
  }
  }

}

.benefits-list {
  .benefit.benefit2 {
    display: flex;
	height: 376px;
	min-width: 288px;
	align-items: center;
	flex: 1 0 0;
    background: var(--color-amber-500);

	@media (min-width: $pc) {
		width: 376px;
		flex: none;
		height: auto;
		overflow: visible;
	}
    .benefit__text-holder {
      color: var(--color-gray-900);
      width: 100%;
      max-width: 100%;
    }

    .benefit__image {
      top: -30px;
	  width: 100%;

	  @media (min-width: $pc) {
		top: -50px;
	  }

      img {
        object-fit: contain;
		object-position: center;

		@media (min-width: $pc) {
			content: url('../images/image-card4-des.png');
		}
      }
    }

    .benefit__title {
      font-size: 29px;

	  @media (min-width: $pc) {
		font-size: 40px;
	  }
    }
  }
}

.benefits.benefits2 {
	background: url(../images/bgs.png), var(--color-neutral-0);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
	padding-top: 113px;

	@media (min-width: $pc)  {
		background: url(../images/bgnew.png), var(--color-neutral-0);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: top center;
		padding: 80px 62px 64px;
	}

	.benefit-new2 {
		background: var(--color-neutral-50);
	}
	
  .container {
    gap: 24px;
    display: flex;
    flex-direction: column;

	@media (min-width: $pc) {
		&::before {
			content: none;
		}
	}
  }

  .benefits__title {
	margin-bottom: 0;
  }

  .benefits-list {
	gap: 22px;
  }

}
